@import "../utils/Variables.scss";

.Home--Componment {
  width: 100%;
  height: 100vh;
  background-color: $bg--color-alt;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;

  .back-video {
    position: absolute;
    right: 0;
    bottom: 0;
    /*z-index: -1;*/
    opacity: 0.6 !important;
  }

  #down {
    font-size: 80px !important;
    position: relative !important;
    top: 250px !important;
    cursor: pointer;
  }

  .home-page {
    text-align: center;
    color: $color--text;
    z-index: 1;

    .title {
      font-size: 80px !important;
      font-family: "BladeRunner";
      transition: 0.5s;

      &:hover {
        -webkit-text-stroke: 2px #fff !important;
        color: transparent !important;
      }
    }

    .sub-title {
      font-size: 50px !important;
      font-family: var(--base-font) !important;
      font-weight: bolder !important;
      transition: 0.5s;

      &:hover {
        -webkit-text-stroke: 2px #fff !important;
        color: transparent !important;
      }
    }

    #down {
      font-size: 80px !important;
      position: relative !important;
      top: 250px !important;
      cursor: pointer;
    }
  }
}
