@import "../../utils/Variables.scss";

#news {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #190004;

  .news-h1 {
    color: $color--text;
    font-size: 4rem !important;
    text-transform: uppercase;
    font-weight: bolder;
    position: relative;
    top: 20px;
    font-family: "BladeRunner";
    text-align: center !important;
  }

  .container {
    display: flex;
    position: relative;
    top: -30px;

    .side-a {
      position: relative;
      .side-a-title-news {
        position: relative;
        bottom: 10px;
        color: $color--text;
        font-size: 1.5rem;
      }
      .side-a-banner-news {
        width: 800px;

        &:hover {
            opacity: .8;
        }
      }
      .side-a-sub-title-news {
        color: $color--text;
        position: relative;
        top: 10px;
        font-size: .8rem;
      }
    }

    .side-b {
        position: relative;
        top: 15px;
        left: 40px;
        .side-b-image-title {
            color: #fff;
            font-size: 1rem;
            margin-bottom: 10px !important;
        }
        .side-b-image {
            width: 300px;
            &:hover {
                opacity: .8;
            }
        }

        .space {
            margin-top: 60px !important;
        }
    }
  }
}
