
/* Characters section */

#characters-section {
  width: 100%;
  height: 250vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.characters {
  position: absolute;
  color: var(--color-text);
  top: 50px;
  font-size: 54px !important;
  font-family: "BladeRunner";
  z-index: 1;
}


.side2 {
  position: relative;
  height: 515px;
  width: 750px;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  margin: 0 auto !important;
  left: -100px;
}

.personages {
  color: var(--color-text);
  display: grid;
  grid-template-columns: repeat(3, 450px);
  gap: 120px;
}

.c-img {
  width: 500px;
}

.c-text {
  font-size: 30px;
}

.card1 p {
  position: relative !important;
  margin-top: 20px !important;
  text-indent: 15px !important;
}

.ssf {
  position: relative;
  top: 34px;
}

.ssdf2 {
  position: relative;
  left: 570px;
}

/* news */
#news {
  width: 100%;
  height: 350vh;
  position: relative;
  padding: 0 5%;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
}

.news-h1 {
  color: var(--color-text);
  font-size: 50px !important;
  text-transform: uppercase;
  font-weight: bolder;
  position: relative;
  top: 10px;
  font-family: "BladeRunner";
  text-align: center !important;
}

.title-news,
.sub-title-news {
  color: var(--color-text);
  text-align: center;
}

.title-news {
  font-size: 50px;
}

.sub-title-news {
  font-size: 20px;
}

.news-stas {
  width: 50%;
  margin: a auto !important;
  position: relative;
  left: 25%;
  color: var(--color-text);
}

.news-stas img {
  width: 700px !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  position: relative !important;
  left: 12%;
}

.news-stas p {
  text-indent: 50px !important;
  margin-top: 15px !important;
  margin-bottom: 15px !important;
  font-size: 20px !important;
}

.spolier {
  text-align: center !important;
  color: red;
}

.time-line,
.contet3 {
  text-align: center !important;
  margin-top: 20px !important;
  font-size: 35px;
}

/* galery */

#galery {
  width: 100%;
  height: 177vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color);
  border-top: 1px solid rgba(0, 0, 0, 0.308);
}

.galery-h1 {
  color: var(--color-text);
  position: relative !important;
  top: -700px !important;
  font-size: 70px;
  font-weight: bolder;
  text-transform: uppercase;
  font-family: "BladeRunner";
  left: 40%;
}

.photos-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
}

.photos-section img {
  width: 400px;
  border-radius: 5px;
}

.photos-section img:hover {
  transition: all 1s;
  transform: scale(2) rotate(360deg);
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.514);
}

/*mobile menu */
/* Mobile navbar */
#menu,
#close-menu {
  font-size: 2rem;
  padding: 1rem;
  display: none;
}

#close-menu {
  position: absolute;
  top: 0;
  right: 0;
}

#mobile-navbar {
  position: fixed;
  top: 0;
  left: 100%;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  flex-direction: column;
  padding: 4rem 2rem;
  transition: 0.4s;
  z-index: 99999999;
}

#mobile-navbar.menu-active {
  left: 0;
}

#mobile-navbar a {
  color: var(--primary-text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--main-color);
}

/*
  TODO - Responsive Medias:

  320px — 480px: Mobile devices
  481px — 768px: iPads, Tablets
  769px — 1024px: Small screens, laptops
  1025px — 1200px: Desktops, large screens
  1201px and more —  Extra large screens, TV

*/
/* media */

@media (max-width: 450px) {

}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}